style.css
.bottom-nav{
  position:absolute;
  bottom:0;
  width:50%;
  height:100px;
  background:#00d060;
  display:flex;
  justify-content:center;
  align-items:center;
  border-top:4px solid black;
}

.nav-btn{
  width:50px;
  height:100px;
  border-radius:50%;
  border:none;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:28px;
  cursor:pointer;
  transition:0.2s;
  box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

.nav-btn:hover{
  transform:scale(1.08);
}

.active{
  background:#d7d0ff;
}

